.character--list--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__character--section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}